.video-section {
    height: 500px;
    background-color: #000;
  }
  
  .video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-section {
    padding: 50px 0;
    background-color: #f5f5f5;
  }
  
  .text-section img {
    width: 100%;
    height: auto;
  }
  
  .carousel-section {
    padding: 50px 0;
  }
  
  .carousel-item img {
    width: 100%; /* Establece el ancho de la imagen al 100% */
    height: auto; /* Establece la altura de la imagen autom치ticamente */
    object-fit: contain; /* Ajusta el tama침o de la imagen manteniendo la relaci칩n de aspecto */
  }


  .section.text-section {
    background-color: white;
  }
  
  .text-section .col-md-6 {
    display: flex;
    align-items: center;
  }
  
  .text-section .col-md-6:first-child {
    order: 1;
  }
  
  .text-section .col-md-6:last-child {
    order: 2;
  }
  
  .text-section .col-md-6:last-child p {
    color: black;
    font-size: 20px; /* Aumenta el tama침o de la letra */
    text-align: justify; /* Justifica el texto */
  }
  
  