@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h1 {
  font-family: 'Anton', sans-serif;
}

p {
  font-family: 'Anton', sans-serif;
}

/* header {
  position: relative;
  background-color: #f30202;
  color: #ffffff;
  padding: 20px;
  text-align: center;
} */

/* .header-title {
  position: absolute;
  z-index: 2;
  top: 0;
} */

/* .container {
  padding: 20px;
} */


body {
  background-color: #000000;
  background-image: url('../img/fondoWave.gif');
  background-size: cover;
  background-repeat: no-repeat;
} 

header {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.video-section {
    height: 500px;
    background-color: #000;
  }
  
  .video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-section {
    padding: 50px 0;
    background-color: #f5f5f5;
  }
  
  .text-section img {
    width: 100%;
    height: auto;
  }
  
  .carousel-section {
    padding: 50px 0;
  }
  
  .carousel-item img {
    width: 100%; /* Establece el ancho de la imagen al 100% */
    height: auto; /* Establece la altura de la imagen automáticamente */
    object-fit: contain; /* Ajusta el tamaño de la imagen manteniendo la relación de aspecto */
  }


  .section.text-section {
    background-color: white;
  }
  
  .text-section .col-md-6 {
    display: flex;
    align-items: center;
  }
  
  .text-section .col-md-6:first-child {
    order: 1;
  }
  
  .text-section .col-md-6:last-child {
    order: 2;
  }
  
  .text-section .col-md-6:last-child p {
    color: black;
    font-size: 20px; /* Aumenta el tamaño de la letra */
    text-align: justify; /* Justifica el texto */
  }
  
  



