/* Agrega estilos personalizados aquí */
form {
    background-color: #ffffff;  /* Fondo morado claro */
    padding: 20px;
  }
  
  form label {
    color: #000000;  /* Letras blancas */
  }
  
  form .btn-primary {
    background-color: #5f9ea0;  /* Fondo morado */
    color: #ffffff;  /* Letras blancas */
  }
  
  form a {
    color: #ffffff;  /* Letras blancas */
  }
  
  .card {
    background-color: rgba(147, 112, 219, 0.7);
  }
  
  .form-check-label {
    display: flex;
    align-items: center;
  }
  
  .form-check-label input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .form-check-label span {
    color: #020000;
  }
  
    
  
      body {
        background-color: #000000;
        background-image: url('../img/fondoWave.gif');
        background-size: cover;
        background-repeat: no-repeat;
      }