{% extends 'base.html' %}

{% load static %}

{% block header %}
<header>
  <div class="container">
    <h1>SOLUCIONES <br> <img src="{% static 'img/rubiks-logo.png' %}" alt="Gif animado" id="ImgIndex"> </h1>
  </div>
</header>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/solucionescss.css' %}">
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img src="{% static 'img/cube3x3-removebg-preview.png' %}" class="card-img-top" alt="Imagen 1">
        <h1>CUBO 3X3</h1>
        <a href="{% static 'pdf/Rubiks_Solution-Guide_3x3.pdf' %}" class="btn btn-primary" onclick="mostrarMensaje()" target="_blank">Ver solución</a>
        <!-- Contenido de la primera tarjeta -->
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img src="{% static 'img/cubo4x4-225-removebg-preview.png' %}" class="card-img-top" alt="Imagen 2">
        <h1>CUBO 4X4</h1>
        <a href="{% static 'pdf/Rubiks_Solution-Guide_4x4_Master.pdf' %}" class="btn btn-primary" onclick="mostrarMensaje()" target="_blank">Ver solución</a>
        <!-- Contenido de la segunda tarjeta -->
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img src="{% static 'img/5x5Cube-removebg-preview.png' %}" class="card-img-top" alt="Imagen 3">
        <h1>CUBO 5X5</h1>
        <a href="{% static 'pdf/5x5-Método-para-principiantes-(español).pdf' %}" class="btn btn-primary" onclick="mostrarMensaje()" target="_blank">Ver solución</a>
        <!-- Contenido de la tercera tarjeta -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
