{% extends 'base.html' %}
{% load static %}



{% block header %}
    <link rel="stylesheet" href="{% static 'css/listar_user_css.css' %}">
{% endblock %}

{% block content %}
    <h1>PANEL DE ADMINISTRACION</h1>
    <br></br>
    <form method="GET" action="{% url 'list_users' %}">
        <input type="text" name="search" placeholder="Buscar" value="{{ search }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <div class="container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Tipo de Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            {% if user.is_superuser %}
                                Usuario Admin
                            {% comment %} {% elif user.is_staff %}
                                Staff {% endcomment %}
                            {% else %}
                                Usuario Normal
                            {% endif %}
                        </td>
                        <td>
                            {% if not user.is_superuser %}
                            {% comment %} <form method="POST" action="{% url 'user_delete' user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button> {% endcomment %}
                                <a href="#" onclick="eliminarUsuario({{user.id}})"  class="btn btn-danger">Eliminar</a>
                                <a href="{% url 'update_user' user.id %}" class="btn btn-primary">Actualizar</a>
                            </form>
                            {% else %}
                                Sin acciones
                            {% endif %}
                        </td>
                        {% comment %} <td>
                            {% if not user.is_superuser %}
                                <a href="{% url 'update_user' user.id %}" class="btn btn-primary">Actualizar</a>
                            {% endif %}
                        </td> {% endcomment %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    <a href="{% url 'create_users' %}" class="btn btn-primary">Crear Usuario</a>
    <style>

        .container{
            display: grid;
            justify-content: center;
            align-items: center;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #6114f0;
        }
        
        th {
            background-color: #2500f7;
        }
        
        tr:hover {
            background-color: #f5f5f5;
        }
        
          
      body {
        background-color: #000000;
        background-image: url({% static 'img/fondoWave.gif' %});
        background-size: cover;
        background-repeat: no-repeat;
      }
      
    </style>
{% endblock %}

{% block js %}
<script src="{% static 'js/alertaEliminar.js' %}"></script>
{% endblock %}