{% extends 'base.html' %}

{% block content %}
    <h2>Actualizar Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="is_superuser">Superusuario:</label>
        <input type="checkbox" id="is_superuser" name="is_superuser" {% if user.is_superuser %}checked{% endif %}>
        <br>
        <button type="submit">Actualizar</button>
    </form>
{% endblock %}