{% extends 'base.html' %}

{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/estiloWCA.css' %}">
{% endblock %}
{% block header %}
<header>
    <div class="container">
      <h1>Competiciones WCA</h1>   
      <img src="{% static 'img/rubiks-logo.png' %}" alt="Gif animado" id="ImgIndex">        
    </div>
  </header>
{% endblock %}

{% block content %}
<script src="{% static 'js/scriptApiWCA.js' %}"></script>
<!-- Contenido principal -->
<div class="container">
  <h1>Buscar competiciones WCA</h1>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="start-date">Desde:</label>
        <input type="date" class="form-control" id="start-date" name="start-date">
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group">
        <label for="end-date">Hasta:</label>
        <input type="date" class="form-control" id="end-date" name="end-date">
      </div>
    </div>
  </div>
  
  <button onclick="searchCompetitions()" class="btn btn-primary">Buscar</button>
  
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Ciudad</th>
          <th>País</th>
          <th>Ganadores</th>
        </tr>
      </thead>
      <tbody id="competitions-list"></tbody>
    </table>
  </div>
</div>
{% endblock %}
{% comment %} {% block scripts %}
<script src="{% static '/rubik/js/scriptApiWCA.js' %}"></script>
{% endblock %} {% endcomment %}